<div class="container-fluid">
  <h1 class="mt-4 display-4 text-monospace">Card</h1>

  <div class="row">

    <div class="col-4">
      <mdb-card style="width: 300px" class="mt-5 ml-5 mb-5">
        <mdb-card-img src="../../assets/chemistry.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
          <div class="text-center">
            <a href="#" mdbBtn color="info">view</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card style="width: 280px" class="mt-5 ml-5 mb-5 card2">
        <div class="card2-img">
          <mdb-card-img src="../../assets/chemistry.png" alt="Card image cap"></mdb-card-img>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
          <div class="text-center">
            <a href="#" mdbBtn color="info">view</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card style="width: 250px" class="mt-5 ml-5 mb-5 card3">
        <div class="card3-img">
          <mdb-card-img src="../../assets/chemistry.png" alt="Card image cap"></mdb-card-img>
        </div>
        <mdb-card-body>
          <mdb-card-title class="text-center">
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
          <div class="text-center">
            <a class="px-3 gl-color" title="Google"><i class="fab fa-google fa-lg" aria-hidden="true"></i></a>
            <a class="px-3 tw-color" title="Twitter"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a class="px-3 fb-color" title="Facebook"><i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i></a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card style="width: 280px" class="mt-5 ml-5 mb-5 card4-wider" id="mdb_card_wider">
        <div class="card4-img-wider">
          <mdb-card-img src="../../assets/chemistry.png" alt="Card image cap"></mdb-card-img>
        </div>
        <mdb-card-body class="card4-content-wider">
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
          <div class="text-center">
            <a href="#" mdbBtn color="info">view</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card style="width: 280px" class="mt-5 ml-5 mb-5">
        <mdb-card-img src="../../assets/chemistry.png" class="card3-img" alt="Card image cap"></mdb-card-img>

        <a class="btn-floating btn-action ml-auto mdb-color lighten-3 waves-light" mdbWavesEffect>
          <i class="fas fa-chevron-right card5-icon waves-light" mdbWavesEffect></i>
        </a>

        <mdb-card-body>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <hr>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
        </mdb-card-body>

        <mdb-card-footer class="mdb-color lighten-3 text-center">
          <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
              <i class="far fa-clock pr-1"></i>05/10/2015</li>
            <li class="list-inline-item pr-2">
              <a href="#" class="white-text">
                <i class="far fa-comments pr-1"></i>12</a>
            </li>
            <li class="list-inline-item pr-2">
              <a href="#" class="white-text">
                <i class="fab fa-facebook-f pr-1"> </i>21</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="white-text">
                <i class="fab fa-twitter pr-1"> </i>5</a>
            </li>
          </ul>
        </mdb-card-footer>

      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card style="width: 280px" class="mt-5 ml-5 mb-5">
        <mdb-card-img src="../../assets/chemistry.png" class="card3-img" alt="Card image cap"></mdb-card-img>
        <mdb-card-body class="mt-n2">
          <a class="card6-activator px-3 mr-2">
            <i class="fas fa-share-alt"></i>
          </a>
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
          <hr>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.
          </mdb-card-text>
          <a class="black-text d-flex justify-content-end">
            <h5>Read more <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right ml-n1"></i></h5>
          </a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-4">
      <mdb-card class="mt-5 ml-5 mb-5" style="width: 280px">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Anna Doe</h4>
          </mdb-card-title>
          <hr>
          <p>
            <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
          </p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <div class="card-box mt-5 ml-5 mb-5" style="width: 60rem">
    <div class="media">
      <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg"
        alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 font-weight-bold">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
        vestibulum in
        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
        congue felis in faucibus.

        <div>
          <a href="#" mdbBtn color="success" class="btn-sm">view</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-box mt-5 ml-5 mb-5" style="width: 60rem">
    <ul class="list-unstyled">
      <li class="media">
        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
      <li class="media my-4">
        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
      <li class="media">
        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg"
          alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
    </ul>

  </div>

</div>